@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* variables */

:root {
  --color-primary-1: hsl(0, 36%, 70%);
  --color-primary-2: hsl(0, 93%, 68%);
  --color-neutral: hsl(0, 6%, 24%);

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}

$gradient2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
$gradient1: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);

$mobile-width: 375px;
$mobile-breakpoint: 34.375rem;
$desktop-width: 1440px;

/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  box-sizing: border-box;
}

/* setup */

img {
  max-width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

/* styles */

.App {
  max-width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $mobile-breakpoint) {
  .App {
    max-width: $desktop-width;
  }
}

.navbar {
  padding: 1.5rem 0;
  background: linear-gradient($gradient1);

  img {
    height: 1.35rem;
    vertical-align: middle;
  }
}

main {
  background: linear-gradient($gradient1);

  .container {
    margin: auto 1.5rem;
  }

  .hero-title {
    padding-top: 3.5rem;
    padding-bottom: 1rem;

    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-neutral);
    font-weight: var(--fw-400);

    span {
      color: var(--color-primary-1);
      font-weight: var(--fw-300);
    }
  }

  .hero-subtitle {
    margin: 0.5rem 0 2rem 0;
    color: var(--color-primary-1);
    text-align: center;
    line-height: 1.5;
  }

  .hero-input-group {
    position: relative;
    padding: 0 0 4rem 0;

    .hero-input {
      padding: 0.75rem 1.5rem;
      border-radius: 50px;
      border: 1px solid var(--color-primary-1);

      width: 100%;
      box-sizing: border-box;
    }

    .hero-submit {
      position: absolute;
      right: 0;

      border-radius: 50px;
      padding: 0.81rem 1.5rem;
      background: linear-gradient($gradient2);

      color: #fff;

      cursor: pointer;
    }

    .hero-submit:hover {
      filter: brightness(125%);

      box-shadow: inset;
    }
  }

  .hero-image-desktop {
    display: none;
  }
}

@media (min-width: $mobile-breakpoint) {
  .container {
    min-width: 60%;
    padding: 0 5rem;
    margin: 2rem 1.5rem;
  }

  .navbar {
    background: none;
  }

  main {
    background: none;
    display: grid;
    // height: 100vh;
    grid-template-areas:
      "navbar hero-image-desktop"
      "hero hero-image-desktop";

    .navbar {
      grid-area: navbar;
    }

    .hero {
      grid-area: hero;
      max-width: 80%;
    }

    .hero-image-mobile {
      display: none;
    }

    .hero-image-desktop {
      grid-area: hero-image-desktop;
      display: inherit;
    }
  }
}
